/* styles for both Anni Albers layouts */

/* By default, let's lay out the first index.html file */

main
{ 
    width: 50%;
    max-block-size: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;

}
h2 { 
    font-size: 1rem;
    font-style: italic;
}

p {

    font-size: 1.2rem;
    line-height: 1rem;
}

p.callout {
    font-size: 2rem;
    line-height: 1.2rem;
    font-style: italic;
    float: left
}

#row1 p,
#row3 p,
#row5 p,
#row7 p,
#row9 p,
#row11 p,
#row13 p {
    margin-left: calc(100% * 3 / 6);
}