/* mobile first design for rhododendron layout */

/* {

    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}*/

:root {
    --nav-height: 3rem;
    --nav-bkgd-color: black;
    --nav-text-color: white;
    --nav-hover-bkgd-color: black;
    --nav-hover-text-color: white;
}

* {
    box-sizing: border-box;
     font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: var(--nav-height) 0 0 0.5;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    content: "⌄";
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>ul>li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}

header {
width: 100vw;
height: 100vh;
}

#rhododendronPicture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg);
    background-size: cover;
    background-position: center center;
}

#rhododendronTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;

}

#rhododendronTitle h1 {

    position: absolute;
    top: 0;
    right: 1em;
    color: #ef52c9;
    font-size: 2em;
    width: calc(100vw - 2em);
  
}

#rhododendronInfo {

    position: absolute;
    width: 100vw;
    height: 100vh;
  
}
#rhododendronInfo h2 {
    position: absolute;
    top: 1em;
    right: 1em;
    color: black;
    font-size: 1.2em;
    width: calc(100vw - 2em);
    
}


#p1 {
    position: absolute;
     bottom: -10em;
    right: 1em;
    color: #0a0a0a;
    font-size: .75em;
}
#p2 {
    position: absolute;
    bottom: -14em;
    right: 1em;
    color: #131212;
    font-size: .75em;
}
#p3 {
    position: absolute;
    bottom: -20em;
    right: 1em;
    color: #0f0e0f;
   font-size: .75em;
}
#p4 {
    position: absolute;
     bottom: -26em;
    right: 1em;
    color: #090809;
    font-size: .75em;
}
#p5 {
    position: absolute;
    bottom: -32em;
    right: 1em;
    color: #090909;
    font-size: .75em;
}
#p6 {
    position: absolute;
    bottom: -38em;
    right: 1em;
    color: #080808;
    font-size: .75em;
}

#footer {

    position: absolute;
    bottom: 1em;
    right: 1em;
    color: #f4eaef;
    font-size: .5em;
}


@media screen and (orientation: landscape) {

    #rhododendronPicture {
        width: 50vw;
        left: 50vw;
    }
    #rhododendronTitle {
        width: 50vw;
        background-color: #447609
    }
     #rhododendronTitle h1 {
         width: 45vw;
     }
    #rhododendronInfo {
       width: 50vw;
        background-color: #447609 
    }
    #rhododendronInfo h2 {
        width: 45vw;
    }
}
#footer {
    width: 50vw;
        left: 50vw;
}
#p1 {
    width: 50vw;
    right: 48.5vw;
}
#p2 {
    width: 50vw;
    right: 48.5vw;
}
#p3 {
    width: 50vw;
    right: 48.5vw;
}
#p4 {
    width: 50vw;
    right: 48.5vw;
}
#p5 {
    width: 50vw;
    right: 48.5vw;
}
#p6 {
    width: 50vw;
    right: 48.5vw;
}

/* :root {
    --nav-height: 3rem;
    --nav-bkgd-color: black;
    --nav-text-color: white;
    --nav-hover-bkgd-color: black;
    --nav-hover-text-color: white;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: var(--nav-height) 0 0 0.5;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-bkgd-color);
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    content: "⌄";
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}

nav>ul>li>ul>li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}*/


/* ----- MEDIA QUERY for landscape/desktop layout ----- */
/* @media screen and (orientation: landscape) */
{

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0;
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }

}