/* mobile first design for rhododendron layout */

* {

    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {

    padding: 0;
    margin: 0;
}

header {
width: 100vw;
height: 100vh;
}

#rhododendronPicture {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(Pacific\ Rhododendron\ 2\ -\ Gary\ Monroe-1.jpeg);
    background-size: cover;
    background-position: center center;
}

#rhododendronTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;

}

#rhododendronTitle h1 {

    position: absolute;
    top: 0;
    right: 1em;
    color: #ef52c9;
    font-size: 2em;
    width: calc(100vw - 2em);
  
}

#rhododendronInfo {

    position: absolute;
    width: 100vw;
    height: 100vh;
  
}
#rhododendronInfo h2 {
    position: absolute;
    top: 1em;
    right: 1em;
    color: black;
    font-size: 1.2em;
    width: calc(100vw - 2em);
    
}


#p1 {
    position: absolute;
     bottom: -10em;
    right: 1em;
    color: #0a0a0a;
    font-size: .75em;
}
#p2 {
    position: absolute;
    bottom: -14em;
    right: 1em;
    color: #131212;
    font-size: .75em;
}
#p3 {
    position: absolute;
    bottom: -20em;
    right: 1em;
    color: #0f0e0f;
   font-size: .75em;
}
#p4 {
    position: absolute;
     bottom: -26em;
    right: 1em;
    color: #090809;
    font-size: .75em;
}
#p5 {
    position: absolute;
    bottom: -32em;
    right: 1em;
    color: #090909;
    font-size: .75em;
}
#p6 {
    position: absolute;
    bottom: -38em;
    right: 1em;
    color: #080808;
    font-size: .75em;
}

#footer {

    position: absolute;
    bottom: 1em;
    right: 1em;
    color: #f4eaef;
    font-size: .5em;
}
@media screen and (orientation: landscape) {

    #rhododendronPicture {
        width: 50vw;
        left: 50vw;
    }
    #rhododendronTitle {
        width: 50vw;
        background-color: #447609;
    }
     #rhododendronTitle h1 {
         width: 45vw;
     }
    #rhododendronInfo {
       width: 50vw;
       height: 50vh;
        background-color: #447609;
    }
    #rhododendronInfo h2 {
        width: 45vw;
    }

#footer {
    width: 50vw;
        left: 50vw;
}
#p1 {
    width: 50vw;
    right: 48.5vw;
}
#p2 {
    width: 50vw;
    right: 48.5vw;
}
#p3 {
    width: 50vw;
    right: 48.5vw;
}
#p4 {
    width: 50vw;
    right: 48.5vw;
}
#p5 {
    width: 50vw;
    right: 48.5vw;
}
#p6 {
    width: 50vw;
    right: 48.5vw;
}


#toggleDarkMode {
    margin-bottom: 2em;
}

body.darkMode {
    background-color: black;
    color: white;
}

body.darkMode h1 {
    color: pink;
}
body.darkMode #p1{
    background-color: black;
    color: white;
}
body.darkMode #p2{
    background-color: black;
    color: white;
}
body.darkMode #p3{
    background-color: black;
    color: white;
}
body.darkMode #p4{
    background-color: black;
    color: white;
}
body.darkMode #p5{
    background-color: black;
    color: white;
}
body.darkMode #p6{
    background-color: black;
    color: white;
}
body.darkMode #footer{
    background-color: black;
    
}
body.darkMode #rhododendronInfo {
    background-color: black;
}
body.darkMode #rhododendronInfo h2 {
    background-color: black;
    color: #ef52c9;
}
body.darkMode #rhododendronTitle {
    background-color: black;
    
}

}