#evePhoto {
    position: absolute;
    width: 50vw;
    height: 30vh;
    background-image: url(photo\ for\ html.jpg);
    background-size: cover;
    background-position: center center;
    z-index: -1;
}