/* Columbian Mammoth Vertical Scroll -- Basic */



* {
    box-sizing: border-box; 
}

html, body {
	padding: 0;
	margin: 0;
	font-family:'Times New Roman', Times, serif;
}

/* eliminate default padding from content elements */
h1, p {
	padding: 0;
	margin: 0;
}

/* five sections of 100vh == 500vh with a tall background photo of the columbian mammoth */
main {
    height: 500vh;
    background-image: url(large\ mammoth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

/* all sections are positioned relative and have a full-page height of 100vh */
section {
    position: relative;
    height: 100vh;
  
}

/* content divs within the sections are positioned absolutely to the top and right, almost half the page wide */
section > .content {
    position: absolute;
    width: 50vw;
    top: 2vh;
    left: 5vw;
	background-color:#d3d3d342;
}

/* paragraph tags are given a size and padding */
section > .content > p {
    font-size: 3rem;
    padding-left: 1rem;
}

/* position the "scroll down" instructions at the bottom of the screen, aligned with .content */
section > .instructions {
    position: absolute;
    bottom: 2vh;
    width: 42vw;
    right: 4vw;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 2rem;
    color: #000;
    padding-left: 1rem; /* to align with paragraphs */
}

/* transform the header and paragraph text in the title block */
#section1 p,
#section1 h1 {
    text-transform: uppercase;
}

/* set font, size, and spacing on the h1 tag */
#section1 h1 {
    font-size: 7rem;
    line-height: 6rem;
    font-family:'Times New Roman', Times, serif;
    margin-left: -0.4rem; /* due to the size and design of the font, bump it left a tiny bit for visual alignment */
    padding-left: 1rem; /* to align with paragraphs */
}

