/* mobile first design for rhododendron layout */

* {

    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {

    padding: 0;
    margin: 0;
}

header {
width: 100vw;
height: 100vh;
}

#recipePicture {
    position: absolute;
    width: 100vw;
    height: 50vh;
    background-image: url(Easiest\ Chocolate\ chip\ cookies.jpg);
    background-size: cover;
    background-position: center center;
}

#recipeTitle {
    position: absolute;
    width: 100vw;
    height: 100vh;

}

#recipeTitle h1 {

    position: absolute;
    top: 0;
    right: 1em;
    color: #0c0c0c;
    font-size: 2em;
    width: calc(100vw - 2em);
  
}

#recipeInfo {

    position: absolute;
    width: 100vw;
    height: 100vh;
  
}
#recipeInfo h2 {
    position: absolute;
    top: -19em;
    right: 1.5em;
    color: black;
    font-size: 1.5em;
    width: calc(100vw - 2em);
    
}
#cookieingredientsPicture {
    position: absolute;
    width: 40vw;
    height: 10vh;
    background-image: url(cookie\ ingredients.jpg);
    background-size: cover;
    background-position: center center;
    top: 28em;
    right: 1em;
}

#In1 {
    position: absolute;
   bottom: 46em;
   left: 3em;
    color: #0a0a0a;
    font-size: .50em;
    width: calc(100vw - 30em);
}
#In2 {
    position: absolute;
    top: 60em;
    left: 3em;
    color: #131212;
    font-size: .50em;
    width: calc(100vw - 30em);
}
#In3 {
    position: absolute;
    top: 62em;
    left: 3em;
    color: #0f0e0f;
   font-size: .50em;
    width: calc(100vw - 30em);
}
#In4 {
    position: absolute;
    top: 64em;
    left: 3em;
    color: #090809;
    font-size: .50em;
    width: calc(100vw - 30em);
}
#In5 {
    position: absolute;
    top: 66em;
    left: 3em;
    color: #090909;
    font-size: .50em;
    width: calc(100vw - 30em);
}
#recipeDirections {

    position: absolute;
    width: 100vw;
    height: 100vh;
  
}
#recipeDirections h3 {
    position: absolute;
    bottom: 42em;
    left: .50em;
    color: black;
    font-size: 1.5em;
    width: calc(100vw - 2em);
    
}


#l1 {
    position: absolute;
     bottom: 18em;
    left: 2.5em;
    color: #0a0a0a;
    font-size: .50em;
    width: calc(100vw - 30em);
}
#linedbakingtrayPicture {
    position: absolute;
    width: 40vw;
    height: 10vh;
    background-image: url(lined\ baking\ tray.jpg);
    background-size: cover;
    background-position: center center;
    top: 45em;
    left: 0em;
}
#l2 {
    position: absolute;
    bottom: -6em;
    left: 2.5em;
    color: #131212;
    font-size: .50em;
    width: calc(100vw - 30em);
}

#creamingbutterandsugarPciture {

    position: absolute;
    width: 40vw;
    height: 10vh;
    background-image: url(creaming\ butter\ and\ sugar.jpg);
    background-size: cover;
    background-position: center center;
   top: 57em; 
    left: 0em;
}
#l3 {
    position: absolute;
    bottom: 15em;
    right: 1em;
    color: #0f0e0f;
   font-size: .50em;
    width: calc(100vw - 30em);
}
#cookiedoughballsPicture {
    position: absolute;
    width: 40vw;
    height: 10vh;
    background-image: url(cookie\ dough\ balls.jpg);
    background-size: cover;
    background-position: center center;
    bottom: 1em;
    right: 0em;
}
#l4 {
    position: absolute;
     bottom:-5em;
    right: 1em;
    color: #090809;
    font-size: .50em;
    width: calc(100vw - 30em);
}
#bakecookiesPicture {
    position: absolute;
    width: 40vw;
    height: 10vh;
    background-image: url(bake\ cookies.jpg);
    background-size: cover;
    background-position: center center;
    bottom: -9em;
    right: 0em;
}


#footer {

    position: absolute;
    bottom: -30em;
    left: 2.5em;
    color: #100f10;
    font-size: .50em;
}
#p1 {
    position: absolute;
    bottom: -32em;
    left: 2.5em;
    color: #100f10;
    font-size: .50em;
}
#p2 {
    position: absolute;
    bottom: -34em;
    left: 2.5em;
    color: #100f10;
    font-size: .50em;
}
#p3 {
    position: absolute;
    bottom: -36em;
    left: 2.5em;
    color: #100f10;
    font-size: .50em;
}
#p4 {
    position: absolute;
    bottom: -38em;
    left: 2.5em;
    color: #100f10;
    font-size: .50em;
}
#p5 {
    position: absolute;
    bottom: -40em;
    left: 2.5em;
    color: #100f10;
    font-size: .50em;
}
@media screen and (orientation: landscape) {

    #recipePicture {
        width: 50vw;
        right: 50vw;
        left: .5em; 
        margin: 2em;
        top: 2em;
    
    }
    #recipeTitle {
        width: 50vw;
        left: 5em
        
    }
     #recipeTitle h1 {
         width: 50vw;
     }
    #recipeInfo {
       width: 25vw;
        left: 2em;
       
       
       
    }
    #recipeInfo h2 {
        width: 25vw;
       left: .5em;
    font-size: 2em;
        top: -12em;
    
    }
}

#In1 {
    width: 25vw;
    left: 6vw;
    top: 35em;
    font-size: 1em;
}
#In2 {
    width: 25vw;
    left: 6vw;
    font-size: 1em;
    top: 39em;
}
#In3 {
    width: 25vw;
    left: 6vw;
    top: 43em;
    font-size: 1em;
    
}
#In4 {
    width: 25vw;
    left: 6vw;
    top: 47em;
    font-size: 1em;
}
#In5 {
    width: 25vw;
    left: 6vw;
    top: 51em;
    font-size: 1em;
}
#recipeDirections {
       width: 25vw;
        right: 25em;
   
       
    }
    #recipeDirections h3 {
        width: 25vw;
    font-size: 2em;
        top: -12em;
    
    }


#l1 {
    width: 25vw;
    left: 23em;
    top: 35em;
    font-size: 1em;
}
#l2 {
    width: 25vw;
    left: 40em;
    font-size: 1em;
    top: 35em;
}
#l3 {
    width: 25vw;
    left: 40em;
    top: 48em;
    font-size: 1em;
    
}
#l4 {
    width: 25vw;
    left: 60em;
    top: 35em;
    font-size: 1em;
}
 #linedbakingtrayPicture {
        width: 25vw;
        right: 50vw;
        left: 2em; 
        margin: 4em;
    }
#creamingbutterandsugarPciture {
        width: 25vw;
        right: 50vw;
        left: 2em; 
        margin: 4em;
}
#cookiedoughballsPicture {
        width: 25vw;
        right: 50vw;
        left: 2em; 
        margin: 4em;
}
#bakecookiesPicture {
        width: 25vw;
        right: 50vw;
        left: 2em; 
        margin: 4em;
}
#footer {
    width: 50vw;
        left: 50vw;
}